.DS_Store
app/.DS_Store
app/assets/.DS_Store

*.ipynb
ideen_backlog.md

# cache
*.pyc
__pycache__

# buildozer
/app/.buildozer
/app/.DS_Store

# built .apk files
/app/bin

# documents - official PDFs
/documents
Feuerwehr App Pitch.*
Unterlagen Bewerbe _ Leistungsabzeichen

# sketches
*.drawio
!game_sequence.drawio

# logs
/app/logs
*.log
storage