.DS_Store
app/.DS_Store
app/assets/.DS_Store

*.ipynb
ideen_backlog.md

# helper scripts
create_default_score_yaml.py
compress_images.py
images_compress.py
images_size.py
tools_analysis.py
tool_list.txt

# sandbox
screen.py
screen.kv

# cache
*.pyc
__pycache__

# buildozer
/app/.buildozer
/app/.DS_Store
.prepare-env

# built .apk files
/app/bin

# documents - official PDFs
/documents
Feuerwehr App Pitch.*
Unterlagen Bewerbe _ Leistungsabzeichen

# sketches
*.drawio
!game_sequence.drawio

# logs
/app/logs
*.log
